# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Removed from package.json
,
  "description": "Using create react app to set up skeleton",
  "main": "index.js",
  "devDependencies": {},
  "repository": {
    "type": "git",
    "url": "git+https://github.com/builtbyjosh/udemy_react_pics.git"
  },
  "author": "",
  "license": "ISC",
  "bugs": {
    "url": "https://github.com/builtbyjosh/udemy_react_pics/issues"
  },
  "homepage": "https://github.com/builtbyjosh/udemy_react_pics#readme"